body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  box-sizing: border-box;
  text-align: center;
}
h1{
  color: white;
}
.h1,h2,h3,label{
  color: white;
}
.aci{
  color: white;
}
.profile img{
  border: 1px solid white;
  border-radius: 25px;
  margin: 20px;
  background-color: black;
  width: 5%;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile p{
  padding-top: 60px;
  font-size: 20px;
}
.profileform {
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(23,43,77);
  margin-top: 30px;
  padding-bottom: 30px;
  color : white;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.playlistform {
  text-align: center;
  border: 1px solid white;
  text-align: center;
  background-color: rgb(23,43,77);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.searchform {
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(23,43,77);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
}

.searchcard Button {
  background-color: white; 
  border: none;
  color: rgb(23,43,77);
  padding: 15px;
  margin: 0 auto;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  width: 150px;
  margin: 10px 2px;
  transition-duration: 0.5s;
  cursor: pointer
}

.searchcard Button:hover {
  background-color: rgb(23,43,77);
  color: white;
  border: 2px solid sa;
}

.playlistform textarea {
  width: 300px;
  height: 150px;
  margin: 15px 0;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 15px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif
}

input {
  padding: 10px;
  border-radius: 15px;
  font-size: 16px;
  width: 300px;
  background-color: white;
}



button:hover {
  background-color: rgb(23,43,77);
  color: white;
  border: 2px solid sa;
}

.logincard {
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  margin-top: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px; 
  background-color: rgb(23,43,77);
}


.searchcard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10px;
  text-align: center;
}

.searchcard img{
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 180px;
  height: 180px;
  margin: 20px;
}

.cardsong {
  background-color: rgb(23,43,77);
  display: flex;
  grid-template-columns: auto auto auto auto;
  grid-gap: 92px;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-right: 30px;
  margin-left: 50px; 
  margin-right: 50px;
}
.cardsong h2{
  color:white;
}
.containersong {
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}

.titlesong {
  font-size: 10px;
  text-align: center;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }  
  .h1{
    color: white;
    text-align: center;
  }
  .h1,h2,label{
    color: white;
    text-align: center;
  }
  
  .logincard {
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: rgb(23,43,77);
  }

  .profileform {
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(23,43,77);
    margin-top: 30px;
    padding-bottom: 30px;
    color : white;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px; 
    border-radius: 10px;
  }
  
  .profile img{
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: black;
    width:50px;
    height: 50px;
  }

  .playlistform {
    text-align: center;
    border: 1px solid white;
    text-align: center;
    background-color: rgb(23,43,77);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  
.searchform {
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(23,43,77);
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
} 

  .searchcard {
    flex-direction:column;
    font-size: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    padding-bottom: auto;
  }
  
  .searchcard img{
    margin-top: 20px;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    justify-items:center;
    padding-left: 30px;
  }

  .searchcard h2,h3,h1{
    color: white;
    text-align: center;
    justify-content: center;
    padding-left: 30px;
  }
  .searchcard Button {
    background-color: white; 
    border: none;
    color: rgb(23,43,77);
    padding: 15px;
    margin: 0 auto;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    margin: 10px 2px;
    transition-duration: 0.5s;
    cursor: pointer
  }
  
  .searchcard Button:hover {
    background-color: rgb(23,43,77);
    color: white;
    border: 2px solid sa;
  }

  .cardsong {
    background-color: rgb(23,43,77);
    display: flex;
    grid-gap: 5px;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-left: 2px; 
    margin-right: 20px;
    content: center;
  }

  .cardsong h2,h3,h1{
    color: white;
    text-align: center;
  }

}


